$footColor: #293462;
@mixin margenes ($top,$bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}

html { 
    overflow-x:hidden; 
}
.jumbotron {
    background: url(../img/palm.jpg) no-repeat center;
    color: white;
    @include margenes(30px, 0px);
}
.first-banner{
    position: relative;
    overflow: hidden;
    
}
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.card-weight{
    width: 80%;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: $footColor;
    margin-bottom: 0px;
    margin-top: 10px;
    
}
.footer-text{
    color: white;
    text-align: center;
}
.footer-address-icon{
    padding-right: 10px;
}
.text-about{
    text-align: right;
}